/Class/Class3/Attributes/nbproject/private/
/Class/Class3/Attributes/build/
/Class/Class4/Ciclos/nbproject/private/
/Class/Class4/Ciclos/build/
/Class/Class4/Ciclos/dist/
/Class/Class4/AttributesTest/nbproject/private/
/Class/Class4/AttributesTest/build/
/Class/Class4/CiclosTest/nbproject/private/
/Class/Class4/CiclosTest/build/
/Class/Class5/switch/nbproject/private/
/Class/Class5/switch/build/